<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.mapper.${ClassName}Mapper">

    <resultMap type="${packageName}.domain.${ClassName}" id="${ClassName}Result">
    #foreach($field in $fields)
        <result property="${field.javaField}" column="${field.sqlField}"/>
    #end
    </resultMap>

    <select id="page" resultMap="${ClassName}Result">
        select #foreach($field in $fields)`$field.sqlField`#if($foreach.hasNext),#end#end from `${tableName}`
        <where>
#foreach($field in $fields)
#set($queryType=$field.queryType)
#set($javaField=$field.javaField)
#set($javaType=$field.fieldType.javaShortType)
#set($columnName=$field.sqlField)
#set($AttrName=$javaField.substring(0,1).toUpperCase() + ${javaField.substring(1)})
#if($field.query)
#if($field.queryType == "EQ")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` = #{query.$javaField}</if>
#elseif($queryType == "NE")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` != #{query.$javaField}</if>
#elseif($queryType == "GT")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` &gt; #{query.$javaField}</if>
#elseif($queryType == "GTE")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` &gt;= #{query.$javaField}</if>
#elseif($queryType == "LT")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` &lt; #{query.$javaField}</if>
#elseif($queryType == "LTE")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` &lt;= #{query.$javaField}</if>
#elseif($queryType == "LIKE")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` like concat('%', #{query.$javaField}, '%')</if>
#elseif($queryType == "BETWEEN")
             <if test="query.begin$AttrName != null and query.begin$AttrName != '' and query.end$AttrName != null and query.end$AttrName != ''"> and `$columnName` between #{query.begin$AttrName} and #{query.end$AttrName}</if>
#end
#end
#end
#if($deletedFlag)            and deleted = 0
#end
        </where>
        limit #{page.startIndex},#{page.pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1) from `${tableName}`
        <where>
#foreach($field in $fields)
#set($queryType=$field.queryType)
#set($javaField=$field.javaField)
#set($javaType=$field.fieldType.javaShortType)
#set($columnName=$field.sqlField)
#set($AttrName=$javaField.substring(0,1).toUpperCase() + ${javaField.substring(1)})
#if($field.query)
#if($field.queryType == "EQ")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` = #{query.$javaField}</if>
#elseif($queryType == "NE")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` != #{query.$javaField}</if>
#elseif($queryType == "GT")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` &gt; #{query.$javaField}</if>
#elseif($queryType == "GTE")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` &gt;= #{query.$javaField}</if>
#elseif($queryType == "LT")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` &lt; #{query.$javaField}</if>
#elseif($queryType == "LTE")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` &lt;= #{query.$javaField}</if>
#elseif($queryType == "LIKE")
             <if test="query.$javaField != null #if($javaType == 'String' ) and query.$javaField.trim() != ''#end"> and `$columnName` like concat('%', #{query.$javaField}, '%')</if>
#elseif($queryType == "BETWEEN")
             <if test="query.begin$AttrName != null and query.begin$AttrName != '' and query.end$AttrName != null and query.end$AttrName != ''"> and `$columnName` between #{query.begin$AttrName} and #{query.end$AttrName}</if>
#end
#end
#end
#if($deletedFlag)            and deleted = 0
#end
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="${packageName}.domain.${ClassName}">
        INSERT INTO `${tableName}` (#foreach($field in $noDefaultValueFields)`$field.sqlField`#if($foreach.hasNext),#end#end)
        VALUES (#foreach($field in $noDefaultValueFields) #{$field.javaField} #if($foreach.hasNext),#end#end )
    </insert>
    <!-- 增加 -->
    <insert id="insertRequired" parameterType="${packageName}.domain.${ClassName}">
        INSERT INTO `${tableName}` (#foreach($field in $requiredFields)`$field.sqlField`#if($foreach.hasNext),#end#end)
        VALUES (#foreach($field in $requiredFields) #{$field.javaField} #if($foreach.hasNext),#end#end )
    </insert>



    <!-- 更新用户信息 -->
    <update id="update" parameterType="${packageName}.domain.${ClassName}">
        UPDATE `${tableName}`
        <set>
        #foreach($field in $fields)
        #if($field.sqlField != $entity.primaryKeyField().name)
            <if test="$field.name != null#if($field.fieldType.javaShortType == 'String' ) and $field.javaField.trim() != ''#end">
                `$field.sqlField` = #{$field.JavaField},
            </if>
        #end
        #end
        </set>
        WHERE id = #{id}#if($deletedFlag) and deleted = 0#end
    </update>

    <!-- 根据用户ID查询单一用户 -->
    <select id="getById" parameterType="int" resultType="${packageName}.domain.${ClassName}">
        SELECT #foreach($field in $fields)`$field.sqlField`#if($foreach.hasNext),#end#end  FROM `${tableName}` WHERE id = #{id}#if($deletedFlag) and deleted = 0#end
    </select>


#if($deletedFlag)
    <!-- 批量删除 -->
    <update id="batchDelete" parameterType="list">
        UPDATE `${tableName}`
        SET deleted = 1
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <!-- 删除用户（虚拟删除，设置标记字段） -->
    <update id="delete">
        UPDATE `${tableName}` SET deleted = 1 WHERE id = #{id}
    </update>
#else
    <delete id="batchDelete" parameterType="list">
        DELETE FROM `${tableName}`
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 删除用户（虚拟删除，设置标记字段） -->
    <delete id="delete">
        DELETE FROM `${tableName}` WHERE id = #{id}
    </delete>
#end

</mapper>
