package ${packageName}.domain;

import java.io.Serializable;

import lombok.Builder;
import lombok.Getter;
import lombok.Setter;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${entity.comment}实体
 * @table ${tableName}
 * @author ${author}
 * @date ${datetime}
 */
@Getter
@Setter
@Builder
public class ${ClassName} implements Serializable{
#foreach ($field in $fields)
    /** $field.comment */
    private $field.javaType $field.javaField;
#end
}
