package ${packageName}.mapper;

import java.util.List;

import ${packageName}.domain.${ClassName};

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper {
    /**
     * 查询${ClassName}列表
     *
     * @param ${className} ${functionName}
     * @return ${ClassName}集合
     */
    List<${ClassName}> page(Query${ClassName} query${ClassName}, PageRequest pageRequest);


    /**
     * 查询${ClassName}列表的统计数量
     * @param query
     * @param pageRequest
     * @return 统计数量
     */
    Long count(Query${ClassName} query${ClassName}, PageRequest pageRequest);

}
