package ${packageName}.domain.projection;

import java.io.Serializable;

import lombok.Getter;
import lombok.Setter;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${entity.name}投影
 * @domain ${ClassName}
 * @author ${author}
 * @date ${datetime}
 */
@Getter
@Setter
public class ${ClassName}Projection implements Serializable{
#foreach ($field in $showListFields)
    /** $field.comment */
    private $field.fieldType.javaShortType $field.javaField;
#end
}
