package ${packageName}.service.impl;

import java.util.List;
import java.util.ArrayList;

import cn.devcxl.common.base.*;
import org.springframework.stereotype.Service;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.service.I${ClassName}Service;
import ${packageName}.domain.${ClassName};
import ${packageName}.domain.param.Query${ClassName};

/**
 * ${ClassName}Service业务层处理
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl implements I${ClassName}Service {

    private ${ClassName}Mapper ${className}Mapper;

    public ServiceImpl(${ClassName}Mapper ${className}Mapper) {
        this.${className}Mapper = ${className}Mapper;
    }

    /**
     * 查询${ClassName}
     * @param ${className} ${functionName}
     * @param pageRequest
     * @return ${ClassName} 分页集合
     * */
    @Override
    public PageResponse<${ClassName}> ${className}Page(Query${ClassName} query${ClassName}, PageRequest pageRequest) {
        List<${ClassName}> list = ${className}Mapper.page(query${ClassName}, pageRequest);
        Long count = ${className}Mapper.count(query${ClassName}, pageRequest);
        return new PageResponse<${ClassName}>(pageRequest,count,list);
    }

}
