package ${packageName}.service;

import java.util.List;
import cn.devcxl.common.base.*;
import ${packageName}.domain.${ClassName};
import ${packageName}.domain.param.Query${ClassName};

/**
 * ${ClassName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service {

    /**
     * 查询${ClassName}
     * @param query${ClassName} ${entity.name}列表查询条件
     * @param pageRequest  分页查询参数
     * @return ${ClassName} 分页集合
     **/
    PageResponse<${ClassName}> select${ClassName}Page(Query${ClassName} query${ClassName}, PageRequest pageRequest);

    /**
     * 添加${ClassName}
     * @param ${className}
     * @return
     **/
    CommonResp<?> add(${ClassName} ${className});

    /**
     * 删除${ClassName}
     * @param id
     * @return
     **/
    CommonResp<?> delete(${primaryKeyField.fieldType.javaShortType} id);

    /**
     * 修改${ClassName}
     * @param ${className}
     * @return
     **/
    CommonResp<?> update(${ClassName} ${className});


    /**
     * 批量删除实体
     * @param ids
     * @return
    */
    CommonResp<?> batchDelete(List<${primaryKeyField.fieldType.javaShortType}> ids);
}
