package ${packageName}.service;

import java.util.List;
import cn.devcxl.common.base.*;
import ${packageName}.domain.${ClassName};
import ${packageName}.domain.param.Query${ClassName};

/**
 * ${ClassName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service {

    /**
     * 查询${ClassName}
     * @param Query${ClassName}
     * @param pageRequest
     * @return ${ClassName} 分页集合
     * */
    PageResponse<${ClassName}> select${ClassName}Page(Query${ClassName} query${className}, PageRequest pageRequest);

}
